<%- include("header") -%>
      <h1 id="title">Parking Bookings for <%= username %></h1>
     
            <div class="set">


<form action = "/booked" method ="post">
<% for (let i=0; i<days.length; i++){ %>
  
  <span class="d1 space"  id = <%= days[i] %> ><%= days[i] %></span>
 
   <%} %> 
    <input type="hidden" id = "email" name = "email" value = <%= username %>></input>
  <input type="hidden" id = "ylist" name = "ylists" value ="nochange"></input>
   <input type="hidden" id = "nlist" name = "nlists" value ="nochange"></input>
   <br>
<button type ="submit" id = "Update" class="book-button">Update</button>
</form>


   <script src="js/button.js" charset="utf-8" type='text/javascript' ></script>


   
    
  <%- include("footer") -%>

